# Environnement virtuel
venv/
env/
geo_env/

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Données volumineuses (à adapter selon vos besoins)
data/raw/*
*.tif
*.shp

# IDE
.vscode/
.idea/
*.swp